# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.DS_Store
dist
dist-test
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/
/types/auto-imports.d.ts
!/types/components.d.ts
!/types/auto-imports.d.ts

# Editor directories and files
node_modules
.vscode/*
.idea
.fleet
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
pnpm-lock.yaml
docs/.vitepress/cache/
.turbo
