.scale-slide-enter-active,
.scale-slide-leave-active {
  position: absolute;
  transition: all 0.85s ease;
}

.scale-slide-enter-from {
  left: -100%;
}

.scale-slide-enter-to {
  left: 0;
}

.scale-slide-leave-from {
  transform: scale(1);
}

.scale-slide-leave-to {
  transform: scale(0.8);
}

.scale-enter-active,
.scale-leave-active {
  transition: all 0.5s ease;
}

.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.75s ease-out;
}

.slide-enter-to {
  position: absolute;
  right: 0;
}

.slide-enter-from {
  position: absolute;
  right: -100%;
}

.slide-leave-to {
  position: absolute;
  left: -100%;
}

.slide-leave-from {
  position: absolute;
  left: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* 向上滑入滑出 */

.slide-fadein-up-enter-active,
.slide-fadein-up-leave-active {
  transition:
    opacity 0.3s,
    transform 0.4s;
}

.slide-fadein-up-enter-from {
  opacity: 0;
  transform: translateY(20px);
}

.slide-fadein-up-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

.slide-fadein-right-enter-active,
.slide-fadein-right-leave-active {
  transition:
    opacity 0.3s,
    transform 0.3s,
    -webkit-transform 0.3s;
}

.slide-fadein-right-enter-from {
  opacity: 0;
  transform: translateX(-20px);
}

.slide-fadein-right-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

.zoom-fadein-enter-active,
.zoom-fadein-leave-active {
  transition:
    transform 0.3s,
    opacity 0.3s ease-in-out;
}

.zoom-fadein-enter-from {
  opacity: 0;
  transform: scale(0.99);
}

.zoom-fadein-leave-to {
  opacity: 0;
  transform: scale(1.01);
}

.fadein-enter-active,
.fadein-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.fadein-enter-from,
.fadein-leave-to {
  opacity: 0;
}
