@charset "UTF-8";

:root {
  --primary:#ff5733;
  --info:#ff5733 ;
}

:export {
  red: #f5222d;
  orange: #fa541c;
  yellow: #faad14;
  cyan: #13c2c2;
  green: #52c41a;
  blue: #2f54eb;
  purple: #722ed1;
}

@font-face {
  font-family: Lato;
  font-style: normal;

  /* 可以包括更多字体格式和字体描述 */
  font-weight: normal;
  src: url("../assets/fonts/Lato-Regular.ttf");
}

.scale-slide-enter-active,
.scale-slide-leave-active {
  position: absolute;
  transition: all 0.85s ease;
}

.scale-slide-enter-from {
  left: -100%;
}

.scale-slide-enter-to {
  left: 0%;
}

.scale-slide-leave-from {
  transform: scale(1);
}

.scale-slide-leave-to {
  transform: scale(0.8);
}

.scale-enter-active,
.scale-leave-active {
  transition: all 0.5s ease;
}

.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.75s ease-out;
}

.slide-enter-to {
  position: absolute;
  right: 0;
}

.slide-enter-from {
  position: absolute;
  right: -100%;
}

.slide-leave-to {
  position: absolute;
  left: -100%;
}

.slide-leave-from {
  position: absolute;
  left: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

body {
  position: relative;
  font-family: Lato, -apple-system, "Microsoft YaHei", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

html[data-theme="light"] body {
  color: #141414;
  background-color: #fff;
}

html[data-theme="dark"] body {
  color: #f6f8fa;
  background-color: #141414;
}

.ant-drawer:has(.ant-layout-sider) {
  display: none;
}

html[data-theme="light"] .custom-layout {
  background: #fff;
}

html[data-theme="dark"] .custom-layout {
  background: #141414;
}

.custom-layout .ant-drawer-body {
  padding: 0;
}

html[data-theme="light"] .custom-layout .ant-drawer-body {
  background: #fff;
}

html[data-theme="dark"] .custom-layout .ant-drawer-body {
  background: #141414;
}

#nprogress .bar {
  background: var(--primary);
}

.ant-layout {
  font-family: Lato, -apple-system, "Microsoft YaHei", sans-serif;
}

.flex-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  padding: 8px;
}

.flex-cards_left {
  width: calc(60% - 8px);
}

.flex-cards_right {
  width: calc(40% - 8px);
}

.flex-cards .chart {
  height: 320px;
}

.flex-card {
  flex: 0 0 calc(25% - 16px);
}

/* 2xl */

/* xl */

/* lg */
@media (width <= 1024px) {
  .flex-card {
    flex: 0 0 calc(50% - 8px);
  }

  .flex-cards_left, .flex-cards_right {
    width: 100%;
  }
}

/* md */
@media (width <= 768px) {
  .ant-drawer:has(.ant-layout-sider) {
    display: inline-block;
  }

  .default-sidebar {
    display: none;
  }

  .flex-cards {
    flex-direction: column;
  }

  .flex-card {
    flex: 0 0 calc(100% - 8px);
  }
}

/* sm */

/* xs */
