@import './theme.scss';
@import './animation.scss';
@import './antDesign.scss';
$padding: 8px;
// html {
//   .gray {
//     -webkit-filter: grayscale(100%);
//     -moz-filter: grayscale(100%);
//     -ms-filter: grayscale(100%);
//     -o-filter: grayscale(100%);
//     filter: grayscale(100%);
//     filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
//   }
// }
body {
  font-family: $font-family;
  position: relative;
  // 样式规则，使用混合应用当前模式和主题的样式
  @include useTheme {
    background: getModeVar('bgColor');
    color: getModeVar('infoColor');
  }
}
.ant-drawer:has(.ant-layout-sider) {
  display: none;
}

.custom-layout {
  @include useTheme {
    background: getModeVar('bgColor');
  }
  .ant-drawer-body {
    @include useTheme {
      background: getModeVar('bgColor');
    }
    padding: 0;
  }
}
#nprogress .bar {
  background: $primary; // 跟随主色
}

.ant-layout {
  font-family: $font-family;
}

.flex-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2 * $padding;
  padding: $padding;

  &_left {
    width: calc(60% - $padding);
  }

  &_right {
    width: calc(40% - $padding);
  }

  .chart {
    height: 320px;
  }
}

.flex-card {
  flex: 0 0 calc(25% - 2 * $padding);
}

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
  .flex-card {
    flex: 0 0 calc(50% - #{$padding}); // 在中等屏幕上每行显示2个 使用#{}插值
  }
  .flex-cards {
    &_left,
    &_right {
      width: 100%;
    }
  }
}

/* md */
@media (max-width: 768px) {
  .ant-drawer:has(.ant-layout-sider) {
    display: inline-block;
  }
  .default-sidebar {
    display: none;
  }
  .flex-cards {
    flex-direction: column;
  }
  .flex-card {
    flex: 0 0 calc(100% - #{$padding}); // 在小屏幕上每行只显示1个
  }
}

/* sm */
@media (max-width: 640px) {
  .breadcrumb {
    display: none;
  }
}

/* xs */
@media (max-width: 475px) {
}
