@import './theme.scss';
@import './animation.scss';
@import './antDesign.scss';

$padding: 8px;
// html {
//   .gray {
//     -webkit-filter: grayscale(100%);
//     -moz-filter: grayscale(100%);
//     -ms-filter: grayscale(100%);
//     -o-filter: grayscale(100%);
//     filter: grayscale(100%);
//     filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
//   }
// }
body {
  font-family: $font-family;
  position: relative;
  // 样式规则，使用混合应用当前模式和主题的样式
  @include useTheme {
    background: getModeVar('bgColor');
    color: getModeVar('infoColor');
  }
}

.ant-drawer:has(.ant-layout-sider) {
  display: none;
}

.custom-layout {
  @include useTheme {
    background: getModeVar('bgColor');
  }

  .ant-drawer-body {
    @include useTheme {
      background: getModeVar('bgColor');
    }
    padding: 0;
  }
}

#nprogress .bar {
  background: $primary; // 跟随主色
}

.ant-layout {
  font-family: $font-family;

  .ant-layout-header {
    .ant-menu {
      border: none;
    }
  }

  .layout-content {
    overflow-y: auto;
    // margin: 41px 0 0;
    /* ---滚动条公共样式--- */

    /*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
    // 滚动条整体部分
    &::-webkit-scrollbar {
      width: 6px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      width: 6px;
      height: 6px;
      // background: rgb(239, 239, 239);
      border-radius: 2px;
    }

    // 滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。
    &::-webkit-scrollbar-button {
      display: none;
    }

    // 滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）
    &::-webkit-scrollbar-thumb {
      // @include useTheme {
      //   background: getColor('primary');
      // }
      background-color: rgba(144, 147, 153, 0.3);
      cursor: pointer;
      border-radius: 4px;
      transition: 0.3s background-color;

      &:hover {
        background-color: rgba(144, 147, 153, 0.5);
      }
    }

    // 边角，即两个滚动条的交汇处
    &::-webkit-scrollbar-corner {
      display: none;
    }

    // 两个滚动条的交汇处上用于通过拖动调整元素大小的小控件
    &::-webkit-resizer {
      display: none;
    }
  }

}

.flex-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2 * $padding;
  padding: $padding;

  &_left {
    width: calc(60% - $padding);
  }

  &_right {
    width: calc(40% - $padding);
  }

  .chart {
    height: 320px;
  }
}

.flex-card {
  flex: 0 0 calc(25% - 2 * $padding);
}

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
  .flex-card {
    flex: 0 0 calc(50% - #{$padding}); // 在中等屏幕上每行显示2个 使用#{}插值
  }
  .flex-cards {
    &_left,
    &_right {
      width: 100%;
    }
  }
}

/* md */
@media (max-width: 768px) {
  .ant-drawer:has(.ant-layout-sider) {
    display: inline-block;
  }
  .default-sidebar {
    display: none;
  }
  .flex-cards {
    flex-direction: column;
  }
  .flex-card {
    flex: 0 0 calc(100% - #{$padding}); // 在小屏幕上每行只显示1个
  }
}

/* sm */
@media (max-width: 640px) {
  .breadcrumb {
    display: none;
  }
}

/* xs */
@media (max-width: 475px) {
}
