:root {
  --primary: #ff5733;
  --info: #ff5733;
  --header-height: 56px; // header高度推荐: 48+n*8
}
$jalapenoRed: #b71540;
$pumpkin: #d35400;
$sunFlower: #f1c40f;
$turquoise: #1abc9c;
$pureApple: #6ab04c;
$royalBlue: #3742fa;
$gloomyPurple: #5f27cd;
$primary: var(--primary);
$info: var(--info);
:export {
  jalapenoRed: $jalapenoRed;
  pumpkin: $pumpkin;
  sunFlower: $sunFlower;
  turquoise: $turquoise;
  pureApple: $pureApple;
  royalBlue: $royalBlue;
  gloomyPurple: $gloomyPurple;
}
