:root {
  --primary: #ed0000;
  --info: #ed0000;
  --header-height: 56px; // header高度推荐: 48+n*8
}

$chineseRed: #ed0000;
$jalapenoRed: #d01144;
$pumpkin: #e85827;
$sunFlower: #f1c40f;
$turquoise: #1abc9c;
$pureApple: #41ae3c;
$royalBlue: #3742fa;
$gloomyPurple: #5f27cd;
$primary: var(--primary);
$info: var(--info);

:export {
  chineseRed: $chineseRed;
  jalapenoRed: $jalapenoRed;
  pumpkin: $pumpkin;
  sunFlower: $sunFlower;
  turquoise: $turquoise;
  pureApple: $pureApple;
  royalBlue: $royalBlue;
  gloomyPurple: $gloomyPurple;
}
