$red: #f5222d;
$orange: #fa541c;
$yellow: #faad14;
$cyan: #13c2c2;
$green: #52c41a;
$blue: #2f54eb;
$purple: #722ed1;

:export {
  red: $red;
  orange: $orange;
  yellow: $yellow;
  cyan: $cyan;
  green: $green;
  blue: $blue;
  purple: $purple;
}
