// 设置ant样式
.ant-drawer:has(.ant-layout-sider) {
  @include respond-to('md') {
    display: inline-block;
  }

  display: none;
}

.ant-layout {
  font-family: $font-family;

  .ant-layout-header {
    height: var(--header-height);
    line-height: var(--header-height);

    .ant-menu {
      border: none;
    }
  }
}

.scroll-table {
  .ant-table-content {
    &::-webkit-scrollbar {
      width: 0;
      height: 8px;
      overflow-y: auto;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--primary);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      background: rgb(144 147 153 / 30%);
      border-radius: 0;
      box-shadow: 0;
    }
  }
}
